
.agaravity {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 97.5vh;
}

.agaravity-simulation {
    height: auto;
    padding: 10px;
    overflow: hidden;
}

.panel-header {
    text-align: center;
    background-color: gray;
}

.panel-header * {
    margin: 0;
}

#control-panel {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10pt;
}

#controls {
    width: 160px;
    overflow: auto;
}

#inputPanel {
    padding: 10px;
}

#inputPanel input {
    /*width: 60%;*/
    display: inline;
}

input[type=range] {
    width: 60%;
    height: 5px;
}

.readout {
    border: 1px solid black;
    border-radius: 3px;
    width: 30%;
    display: inline;
    vertical-align: middle;
}

#simulation-panel {
    float: left;
    overflow: hidden;
}

#simulation {
    padding: 5px;
}

